<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="loggedInPage">
    <div class="row tm-mt-big " th:object="${user}">
        <div class="col-lg-12">
            <div class="bg-white tm-block rounded">

                <h1 class="text-center">Details</h1>

                <div class="row mt-5" id="fp">
                    <div class="col-sm">
                        <div><b>dodo</b></div>
                        <img id="myImg" class="rounded-circle mx-auto d-block img-fluid"
                             th:src="|data:image/jpeg;base64,*{details.picture}|" alt="">

                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="img01">
                            <div id="caption"></div>
                        </div>
                    </div>

                    <div class="col-sm">
                        <p>
                            <b><span th:text="|Full name:|"></span></b>
                            <span th:text="| *{firstName} *{lastName}|"></span>
                        </p>
                        <p>
                            <b><span th:text="|Born in: |"></span></b>
                            <span th:text="| *{born}|"></span>
                        </p>
                        <p >
                            <b><span th:text="|Friends: |"></span></b>
                            <span th:text="| *{friends.size()}|"></span>
                        </p>
                        <p >
                            <b><span th:text="|Interested in: |"></span></b>
                            <span th:text="| ${#strings.capitalize(user.details.getInterestedIn().toString().toLowerCase())}|"></span>
                        </p>
                        <p >
                            <b><span th:text="|Last updated on: |"></span></b>
                            <span th:text="| ${#temporals.format(user.updated, 'HH:mm dd-MM-yyyy')}|"></span>
                        </p>
                        <p >
                            <b><span th:text="|Created on: |"></span></b>
                            <span th:text="| ${#temporals.format(user.created, 'HH:mm dd-MM-yyyy')}|"></span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</th:block>